@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');
    /*Schvalene CSS*/
body, html,h1 {
	font-family: Red hat Display, sans-serif;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.025em;
	color: #333;
	background: #F7F7F7;	
	justify-content: center;
	display: flex;
}
.container {
  position: relative;
  margin: auto;
  height: 80vh;
  overflow-y: scroll;
  overflow: hidden;
}
.chat-header {
  background-color: #F7F7F7;
  font-weight: bold;
}
/*Schvaleno KONEC*/
.form
{
    display: flex;
    flex-direction: column;
}
.user
{
	background-color: #f1f1f1;
	display: flex;
	border-radius: 5px;
	padding: 1em;
	align-items: center;
	position:relative;
	float: left;
	justify-content: flex-end;

}
.chatbot
{
	border-color: #ccc;
	display: flex;
	background-color: #ddd;
	border-radius: 5px;
	padding: 1em;
	align-items: center;
	position:relative;
    float: right;
    justify-content: flex-end;
}

/* Clear floats */
.user::after 
{
	content: "";
	clear: both;
	display: table;
}
.chatbot::after 
{
	content: "";
	clear: both;
	display: table;
}

.user .profilePic
{
	width: 4rem;
	height: 4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin-right:auto;
}

.chatbot .profilePic{
	width: 4rem;
	height: 4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin-left: auto;
}

.chat-message .fa-bars
{
	position: absolute;
	left: 2.25rem;
	width: auto;
	color: #999;
	transition: color 200ms;
	padding: 5em;
	margin: 2em;
}

.chatbot .response
{	
	margin-right: 1em;
	margin-left:auto;
}
.user .response
{
	margin-left: 1em;
	margin-right:auto;
}

.chat-message
{
	align-self: flex-end;
	margin:0.25em 5em;
}

*:after {
	box-sizing: border-box;
}

/*Responsive*/
@media screen and (min-width: 331px) {
	.user {
	  float: left;
	}
	.chatbot{
	  float: right;
	}
}
