@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');

.container
{
	background-color: aliceblue;
	margin: auto;
	padding: auto;
}

body, html {
	font-family: Red hat Display, sans-serif;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.025em;
	color: #333;
	background: #F7F7F7;	
	justify-content: center;
	text-align: center;
	display: flex;
}

.user
{
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 1em;
	margin: 1em auto; 
	display: flex;
	align-items: center;
	position:relative;

}
.chatbot
{
	border-color: #ccc;
	display: flex;
	background-color: #ddd;
	border-radius: 5px;
	padding: 1em;
	margin: 1em auto; 
	align-items: center;
	position:relative;
}

/* Clear floats */
.user::after 
{
	content: "";
	clear: both;
	display: table;
}
.chatbot::after 
{
	content: "";
	clear: both;
	display: table;
}

.user .profilePic
{
	width: 4rem;
	height: 4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.chatbot .profilePic{
	width: 4rem;
	height: 4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin-left: auto;
}

.input .fa-bars
{
	position: absolute;
	left: 2.25rem;
	width: auto;
	color: #999;
	transition: color 200ms;
}

.chatbot .response
{	
	margin-right: 1em;
	padding-left: 10em;
}
.user .response
{
	margin-left: 1em;
	padding-right: 10em;
}

.input
{
	align-self: flex-end;
}

*:after {
	box-sizing: border-box;
  }
/*Responsive*/
@media screen and (min-width: 331px) {
	.user {
	  float: left;
	}
	.chatbot{
	  float: right;
	}
}